@page
@model IndexModel
@{
    ViewData["Title"] = "Semilleros";
}

@if (Model.Mensaje != null)
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close"> 

          <span aria-hidden="true">&times;</span>

        </button>

        @Model.Mensaje
    </div>
}

<form method="POST">
@if(Model.Semilleros.Count() > 0){

  <br>
  <table class="table table-striped border table-hover">
      <tr class="table-success">
          <th>
            @Html.DisplayNameFor(m => m.Semilleros.FirstOrDefault().nombreSemillero)
          </th>
          <th>
            @Html.DisplayNameFor(m => m.Semilleros.FirstOrDefault().descripcionSemillero)
          </th>
          <th>
            @Html.DisplayNameFor(m => m.Semilleros.FirstOrDefault().necesidadesSemillero)
          </th>
          <th>
            Acciones
          </th>

      </tr>

      @foreach (var item in Model.Semilleros)
      {        
          <tr>
            <td>
              @Html.DisplayFor(m => item.nombreSemillero)
            </td>
            <td>
              @Html.DisplayFor(m => item.descripcionSemillero)
            </td>
            <td>
              @Html.DisplayFor(m => item.necesidadesSemillero)
            </td>
            <td>
              <button asp-page-handler="Delete" asp-route-id="@item.idSemillero" onclick="return confirm('¿Si quieres eliminar el semillero?')" class="btn btn-primary btn-sm">Eliminar</button>
              <br><br>
              <a asp-route-id = "@item.idSemillero" asp-page ="edit" class="btn btn-dark btn-sm">Editar</a>
              <br><br>
              <a asp-route-id = "@item.idSemillero" asp-page ="Interesado" class="btn btn-success btn-sm">Unirme</a>
              <br><br>
              <a asp-route-id = "@item.idSemillero" asp-page ="verInteresados" class="btn btn-dark btn-sm">Interesados</a>
            </td>
          </tr>

      }

  </table>

}else{

  <p>No hay semilleros o eventos nuevos</p>

}

</form>
